@media screen and (max-width: 800px) {
  
  body{
    padding-top: 150px;
    min-height: 100vh;
  }

  .header{
    display: flex;
    flex-direction: column;
    height: 150px;
  }

  .logo-webname-container{
    display: flex;
    flex-direction: column;
  }

   .header, .logo-webname-container, .nav{
    background-color: white;
   }

  .main-container{
    display: flex;
    flex-direction: column;
  }
  
  .educ-container{
    height: 400px;
  }

  .footer{
    height: 150px;
  }

  .review-container{
    flex-wrap: wrap;
  }
}