*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fuzzy Bubbles";
}

body{
  background-color: #fdfdfd;
  padding-top: 70px;
  height: 1500px;
}

.header{
  display: flex ;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 70px;
  background-color: #fdfdfd;
}

.logo-webname-container{
  display: flex;
  align-items: center;
  gap: 20px;
  
}

.nav{
  display: flex;
  gap: 20px;
}

a{
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.main-container{
  display: grid;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3fr 1fr 1fr 2fr;
  grid-template-areas:
  "homepage homepage homepage"
  "projects work-experience education"
  "projects opensource education"
  "reviews reviews reviews";
}
.homepage{
  grid-area: homepage;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title{
  font-size: 50px;
  font-weight: bolder;
}

.title2{
  font-size: 40px;
  font-weight: bolder;
  padding-left: 30px;
}

.p-dsc{
  font-size: 25px;
  font-weight: 400;
}

#resume {
  padding: 10px 10px;
  background-color: #fdfdfd;
  font-weight: bolder;
  margin-top: 10px;
  transition: background-color 0s;
}

#resume:active{
  background-color: black;
  color: white;
}
.projects{
  grid-area: projects;
  border: 2px solid black;
  display: grid;
  grid-template-rows: 50px 50px 50px 50px;
  row-gap: 10px;
  padding-top: 20px;
}

.prj-title{
  border-bottom: 3px solid black;
  padding-left: 30px;
  align-content: center;
}


.work-experience{
  grid-area: work-experience;
  border: 2px solid black;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.we-dscp{
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ext-link{
  color: blue;
  transition: text-decoration 0s;
}

.ext-link:hover{
  text-decoration: underline;
}

.open-source{
  grid-area: opensource;
  border: 2px solid black;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.education{
  grid-area: education;
  border: 2px solid black;
  padding-top: 20px;
}

.educ-container{
  margin-top: 10px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.reviews{
  grid-area: reviews;
  border-top: 2px solid black;
  padding-top: 20px;
}

.footer{
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}